<div class="container">
  <div>
    <label for="basic_button">warning button </label>
    <button id="basic_button" class="primary">Primary</button>
  </div>
  <div>
    <label for="basic_button">Success button </label>
    <button id="basic_button" class="success">Success</button>
  </div>
  <div>
    <label for="basic_button">warning button </label>
    <button id="basic_button" class="warning">warning</button>
  </div>
  <div>
    <label for="basic_button">danger button </label>
    <button id="basic_button" class="warning">danger</button>
  </div>
</div>
